h1{
	font-family: 'Oswald', sans-serif;
	color: rgb(191, 184, 175);
	padding:50px;

}body{
	font-family: 'Oswald', sans-serif;
	color: rgb(199, 201, 199);
	text-align: center;
	font-size: 30px

}
a:hover {
	color:green;
}
a{
	text-decoration: none;
}

h2{font-weight: lighter;
	font-size: 20px;
	font-family: 'Oswald';
	text-align: center;

}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#banner{
	text-align: center;
	background-image: url(images/IMG_0114-2.jpg);
	padding: 150px; 
	background-size:cover;
}

#footer {
	background-color: black;
	font-size: 20px;
	font-family: 'Oswald';
	text-align: center;
	color: rgb(191, 184, 175);

}